lenguajes/XSD/ejercicioIncremental/01.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="real-estate">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="agencies"/>
                <xs:element name="owners"/>
                <xs:element name="properties"/>
                <xs:element name="flats"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>